body {
  background: linear-gradient(
    to right bottom,
    rgb(21, 21, 21),
    rgb(88, 87, 87)
  );
  height: 100vh;
  font-family: "Lora", serif;
}

.clothing-1 figcaption {
  font-family: "Sirin Stencil", sans-serif;
  color: black;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1.2rem;
  position: relative;
  top: -33.1rem;
  left: 5.57rem;
  width: 3.2rem;
  align-items: center;
}

.clothing-2 figcaption {
  font-family: "Sirin Stencil", sans-serif;
  color: black;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1.2rem;
  position: relative;
  top: -26.6rem;
  left: 5.56rem;
  width: 3.2rem;
  align-items: center;
}

.clothing-3 figcaption {
  font-family: "Sirin Stencil", sans-serif;
  color: black;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1.2rem;
  position: relative;
  top: -26.6rem;
  left: 5.6rem;
  width: 3rem;
  align-items: center;
}

.clothing-4 figcaption {
  font-family: "Sirin Stencil", sans-serif;
  color: black;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1rem;
  position: relative;
  top: -26.7rem;
  left: 5.57rem;
  width: 3rem;
  align-items: center;
}

/* NAV BAR */
header {
  margin-top: -17px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  height: 2.5rem;
  position: fixed;
  width: 100%;
  background-color: rgb(8, 7, 7);
  z-index: 1;
}

.nav-items a {
  background: linear-gradient(
    to right bottom,
    rgb(235, 235, 235),
    rgb(43, 43, 38)
  );
  color: black;
  list-style: none;
  font-size: 1.14rem;
  font-weight: bolder;
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 5px;
  border: 3px solid rgb(73, 72, 72);
  height: 1.5rem;
  text-decoration: none;
}

.nav-items a:hover {
  background: linear-gradient(
    to right bottom,
    rgb(0, 0, 0) 10%,
    rgb(152, 152, 143)
  );
  color: white;
  border: rgb(34, 32, 32) solid 3px;
}
/* ///////////////////END OF NAV BAR ////////////////////////*/

/*//////////////////// START OF SHOE SECTION////////////////// */

.clothing-main {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.clothing-main .clothing-img {
  position: relative;
  right: 80rem;
  width: 30rem;
  height: 15rem;
  margin-left: 1.5rem;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.clothing-main-pic .clothing-title {
  position: absolute;
  right: 0;
  margin-right: 7.5rem;
  margin-top: 8rem;
  top: 10rem;
  width: 30rem;
  height: 10rem;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< START OF SECTION 1>>>>>>>>>>>>>>>>>>> */

.clothing-1 {
  display: flex;
  justify-content: space-between;
}

.clothing-1 img {
  width: 70%;
  height: 45rem;
  border: 10px solid rgba(0, 0, 0, 0.152);
  padding: 0;
  margin-left: 8rem;
  zoom: 65%;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.clothing-1 .row-1 {
  flex-basis: 33.33333%;
}

.clothing-1 .row-2 {
  flex-basis: 33.33333%;
}

.clothing-1 .row-3 {
  flex-basis: 33.33333%;
}
/*////////////////// SECTION 2 ///////////////////*/

.clothing-2 {
  display: flex;
  justify-content: space-between;
}

.clothing-2 img {
  width: 70%;
  height: 35rem;
  border: 10px solid rgba(0, 0, 0, 0.152);
  padding: 0;
  margin-left: 8rem;
  zoom: 65%;
  margin-bottom: 5rem;
}

.clothing-2 .row-1 {
  flex-basis: 33.33333%;
}

.clothing-2 .row-2 {
  flex-basis: 33.33333%;
}

.clothing-2 .row-3 {
  flex-basis: 33.33333%;
}
/* ////////////////// SECTION 3 ///////////////////*/

.clothing-3 {
  display: flex;
  justify-content: space-between;
}

.clothing-3 img {
  width: 70%;
  height: 35rem;
  border: 10px solid rgba(0, 0, 0, 0.152);
  padding: 0;
  margin-left: 8rem;
  zoom: 65%;
  margin-bottom: 5rem;
}
.clothing-3 .row-1 {
  flex-basis: 33.33333%;
}

.clothing-3 .row-2 {
  flex-basis: 33.33333%;
}

.clothing-3 .row-3 {
  flex-basis: 33.33333%;
}
/* ////////////////// SECTION 4 /////////////////// */

.clothing-4 {
  display: flex;
  justify-content: space-between;
}

.clothing-4 img {
  width: 70%;
  height: 35rem;
  border: 10px solid rgba(0, 0, 0, 0.152);
  padding: 0;
  margin-left: 8rem;
  zoom: 65%;
  margin-bottom: 5rem;
}

.clothing-4 .row-1 {
  flex-basis: 33.33333%;
}

.clothing-4 .row-2 {
  flex-basis: 33.33333%;
}

.clothing-4 .row-3 {
  flex-basis: 33.33333%;
}
/* ////////////////// SECTION 5 /////////////////// */

.clothing-5 {
  display: flex;
  justify-content: space-between;
}

.clothing-5 img {
  width: 65%;
  height: 35rem;
  border: 10px solid rgba(0, 0, 0, 0.152);
  padding: 0;
  margin-left: 8rem;
  zoom: 50%;
  margin-bottom: 5rem;
}

.clothing-5 .row-1 {
  flex-basis: 33.33333%;
}

.clothing-5 .row-2 {
  flex-basis: 33.33333%;
}

.clothing-5 .row-3 {
  flex-basis: 33.33333%;
}
/* ////////////////// SECTION 6 /////////////////// */

.clothing-6 {
  display: flex;
  justify-content: space-between;
}

.clothing-6 img {
  width: 70%;
  height: 35rem;
  border: 10px solid rgba(0, 0, 0, 0.152);
  padding: 0;
  margin-left: 8rem;
  zoom: 65%;
  margin-bottom: 5rem;
}

.clothing-6 .row-1 {
  flex-basis: 33.33333%;
}

.clothing-6 .row-2 {
  flex-basis: 33.33333%;
}

.clothing-6 .row-3 {
  flex-basis: 33.33333%;
}
/* /* ////////////////// SECTION 7 /////////////////* */

.clothing-7 {
  display: flex;
  justify-content: space-between;
}

.clothing-7 img {
  width: 70%;
  height: 35rem;
  border: 10px solid rgba(0, 0, 0, 0.152);
  padding: 0;
  margin-left: 8rem;
  zoom: 65%;
  margin-bottom: 5rem;
}
.clothing-7 .row-1 {
  flex-basis: 33.33333%;
}

.clothing-7 .row-2 {
  flex-basis: 33.33333%;
}

.clothing-7 .row-3 {
  flex-basis: 33.33333%;
}
