body {
  background: linear-gradient(
      to right bottom,
      rgb(6, 6, 6) 30%,
      rgb(88, 87, 87)
    ),
    white 5%;
  height: 100vh;
  font-family: "Lora", serif;
}

.equipment-1 figcaption {
  font-family: "Sirin Stencil", sans-serif;
  color: black;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1rem;
  position: relative;
  top: -3rem;
  left: 5.6rem;
  background-color: white;
  width: 3.2rem;
  align-items: center;
}

.equipment-2 figcaption {
  font-family: "Sirin Stencil", sans-serif;
  color: black;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1rem;
  position: relative;
  top: -3rem;
  left: 5.6rem;
  background-color: white;
  width: 3.2rem;
  align-items: center;
}

.equipment-3 figcaption {
  font-family: "Sirin Stencil", sans-serif;
  color: black;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1rem;
  position: relative;
  top: -3rem;
  left: 5.6rem;
  background-color: white;
  width: 3rem;
  align-items: center;
}

.equipment-4 figcaption {
  font-family: "Sirin Stencil", sans-serif;
  color: black;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1rem;
  position: relative;
  top: -3rem;
  left: 5.6rem;
  background-color: white;
  width: 3rem;
  align-items: center;
}

.equipment-5 figcaption {
  font-family: "Sirin Stencil", sans-serif;
  color: black;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1rem;
  position: relative;
  top: -3rem;
  left: 5.6rem;
  background-color: white;
  width: 3rem;
  align-items: center;
}

.equipment-6 figcaption {
  font-family: "Sirin Stencil", sans-serif;
  color: black;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1rem;
  position: relative;
  top: -3rem;
  left: 5.6rem;
  background-color: white;
  width: 3rem;
  align-items: center;
}

.equipment-7 figcaption {
  font-family: "Sirin Stencil", sans-serif;
  color: black;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1rem;
  position: relative;
  top: -3rem;
  left: 5.6rem;
  background-color: white;
  width: 3rem;
  align-items: center;
}

/* NAV BAR */
header {
  margin-top: -17px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 5px;
  margin-right: 5px;
  height: 2.7rem;
  position: fixed;
  width: 100%;
  background-color: rgb(8, 7, 7);
  z-index: 1;
}

.nav-items a {
  background: linear-gradient(
    to right bottom,
    rgb(235, 235, 235),
    rgb(43, 43, 38)
  );
  color: black;
  list-style: none;
  font-size: 1.14rem;
  font-weight: bolder;
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 5px;
  border: 3px solid rgb(73, 72, 72);
  height: 1.5rem;
  text-decoration: none;
}

.nav-items a:hover {
  background: linear-gradient(
    to right bottom,
    rgb(0, 0, 0) 10%,
    rgb(152, 152, 143)
  );
  color: white;
  border: rgb(34, 32, 32) solid 3px;
}
/* ///////////////////END OF NAV BAR ////////////////////////*/

.equipment-main {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.equipment-main-pic .equipment-title {
  width: 25rem;
  height: 8rem;
  margin-left: 10rem;
  margin-top: 9rem;
}

.equipment-main .equipment-img {
  width: 28rem;
  height: 18rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  margin-right:15rem;
}
/*////////////////// SECTION 1 ///////////////////*/

.equipment-1 {
  display: flex;
  justify-content: space-between;
}

.equipment-1 img {
  width: 70%;
  height: 45rem;
  border: 10px solid rgba(0, 0, 0, 0.152);
  padding: 0;
  margin-left: 8rem;
  zoom: 65%;
  margin-bottom: 5rem;
}

.equipment-1 .row-1 {
  flex-basis: 33.33333%;
}

.equipment-1 .row-2 {
  flex-basis: 33.33333%;
}

.equipment-1 .row-3 {
  flex-basis: 33.33333%;
}
/*////////////////// SECTION 2 ///////////////////*/

.equipment-2 {
  display: flex;
  justify-content: space-between;
}

.equipment-2 img {
  width: 70%;
  height: 35rem;
  border: 10px solid rgba(0, 0, 0, 0.152);
  padding: 0;
  margin-left: 8rem;
  zoom: 65%;
  margin-bottom: 5rem;
}

.equipment-2 .row-1 {
  flex-basis: 33.33333%;
}

.equipment-2 .row-2 {
  flex-basis: 33.33333%;
}

.equipment-2 .row-3 {
  flex-basis: 33.33333%;
}
/* ////////////////// SECTION 3 ///////////////////*/

.equipment-3 {
  display: flex;
  justify-content: space-between;
}

.equipment-3 img {
  width: 70%;
  height: 35rem;
  border: 10px solid rgba(0, 0, 0, 0.152);
  padding: 0;
  margin-left: 8rem;
  zoom: 65%;
  margin-bottom: 5rem;
}
.equipment-3 .row-1 {
  flex-basis: 33.33333%;
}

.equipment-3 .row-2 {
  flex-basis: 33.33333%;
}

.equipment-3 .row-3 {
  flex-basis: 33.33333%;
}
/* ////////////////// SECTION 4 /////////////////// */

.equipment-4 {
  display: flex;
  justify-content: space-between;
}

.equipment-4 img {
  width: 70%;
  height: 35rem;
  border: 10px solid rgba(0, 0, 0, 0.152);
  padding: 0;
  margin-left: 8rem;
  zoom: 65%;
  margin-bottom: 5rem;
}

.equipment-4 .row-1 {
  flex-basis: 33.33333%;
}

.equipment-4 .row-2 {
  flex-basis: 33.33333%;
}

.equipment-4 .row-3 {
  flex-basis: 33.33333%;
}
/* ////////////////// SECTION 5 /////////////////// */

.equipment-5 {
  display: flex;
  justify-content: space-between;
}

.equipment-5 img {
  width: 70%;
  height: 35rem;
  border: 10px solid rgba(0, 0, 0, 0.152);
  padding: 0;
  margin-left: 8rem;
  zoom: 65%;
  margin-bottom: 5rem;
}

.equipment-5 .row-1 {
  flex-basis: 33.33333%;
}

.equipment-5 .row-2 {
  flex-basis: 33.33333%;
}

.equipment-5 .row-3 {
  flex-basis: 33.33333%;
}
/* ////////////////// SECTION 6 /////////////////// */

.equipment-6 {
  display: flex;
  justify-content: space-between;
}

.equipment-6 img {
  width: 70%;
  height: 35rem;
  border: 10px solid rgba(0, 0, 0, 0.152);
  padding: 0;
  margin-left: 8rem;
  zoom: 65%;
  margin-bottom: 5rem;
}

.equipment-6 .row-1 {
  flex-basis: 33.33333%;
}

.equipment-6 .row-2 {
  flex-basis: 33.33333%;
}

.equipment-6 .row-3 {
  flex-basis: 33.33333%;
}
/* /* ////////////////// SECTION 7 /////////////////* */

.equipment-7 {
  display: flex;
  justify-content: space-between;
}

.equipment-7 img {
  width: 70%;
  height: 35rem;
  border: 10px solid rgba(0, 0, 0, 0.152);
  padding: 0;
  margin-left: 8rem;
  zoom: 65%;
  margin-bottom: 5rem;
}
.equipment-7 .row-1 {
  flex-basis: 33.33333%;
}

.equipment-7 .row-2 {
  flex-basis: 33.33333%;
}

.equipment-7 .row-3 {
  flex-basis: 33.33333%;
}

