body {
  background: linear-gradient(
    to right bottom,
    rgb(21, 21, 21),
    rgb(88, 87, 87)
  );
  height: 100vh;
  font-family: "Lora", serif;
}

figcaption {
  font-family: "Sirin Stencil", sans-serif;
  color: black;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1rem;
  position: relative;
  top: -23.4rem;
  left: 1.64rem;
  background: linear-gradient(to right bottom, #6c6a6a, white);
  width: 3.2rem;
  align-items: center;
}

header {
  margin-top: -17px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  height: 2.5rem;
  position: fixed;
  width: 100%;
  background-color: rgb(8, 7, 7);
  z-index: 1;
}

.nav-items a {
  background: linear-gradient(
    to right bottom,
    rgb(235, 235, 235),
    rgb(43, 43, 38)
  );
  color: black;
  list-style: none;
  font-size: 1.14rem;
  font-weight: bolder;
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 5px;
  border: 3px solid rgb(73, 72, 72);
  height: 1.5rem;
  text-decoration: none;
}

.nav-items a:hover {
  background: linear-gradient(
    to right bottom,
    rgb(0, 0, 0) 10%,
    rgb(152, 152, 143)
  );
  color: white;
  border: rgb(34, 32, 32) solid 3px;
}
/* ///////////////////END OF NAV BAR ////////////////////////*/

/*//////////////////// START OF SHOE SECTION////////////////// */

.shoe-main {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.shoe-main-pic img {
  width: 30rem;
  height: 15rem;
  margin-left: 11rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.shoe-title {
  position: relative;
  right: 10rem;
  top: 10rem;
  width: 30rem;
  height: 10rem;
}

.shoe-sales {
  display: flex;
  justify-content: space-between;
}

.shoe-sales img {
  width: 75%;
  height: 30rem;
  border: 10px solid rgba(0, 0, 0, 0.152);
  padding: 0;
  margin-left: 2rem;
  zoom: 65%;
  margin-bottom: 5rem;
}

.row-1 {
  flex-basis: 33.33333%;
}

.row-2 {
  flex-basis: 33.33333%;
}

.row-3 {
  flex-basis: 33.33333%;
}
