body {
  background: linear-gradient(
    to right bottom,
    rgb(21, 21, 21),
    rgb(88, 87, 87)
  );
  height: 100vh;
  font-family: "Lora", serif;
}

figcaption {
  font-family: "Sirin Stencil", sans-serif;
}

/* NAV BAR */

header {
  margin-top: -8px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 12px;
  height: 2.5rem;
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 1;
}

.nav-items a {
  background: linear-gradient(to right bottom, white, rgb(79, 79, 75));
  color: black;
  list-style: none;
  font-size: 1.14rem;
  font-weight: bolder;
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 5px;
  border: 3px solid rgb(73, 72, 72);
  height: 1.5rem;
  text-decoration: none;
}

.nav-items a:hover {
  background: linear-gradient(
    to right bottom,
    rgb(0, 0, 0) 10%,
    rgb(152, 152, 143)
  );
  color: white;
  border: rgb(34, 32, 32) solid 3px;
}

.skate-icon {
  /* margin-left : 3rem; */
  top: 3px;
  position: relative;
  left: 7rem;
  width: 2.6rem;
  height: 2.6rem;
  margin-left: 5px;
}

.skate-icon:hover {
  /* margin-left : 3rem; */
  margin-top:2px;
  /* pointer-events: none; */
}

span img {
  margin-right: 4rem;
  width: 2.5rem;
  height: 2rem;
  border: 0.1px solid black;
  border-radius: 3%;
}

span img:hover {
  transition: ease-in-out 30ms;
  border: 1px solid white;
  margin-top: 2px;
  border-radius: 3%;
}
/* ///////////////////END OF NAV BAR ////////////////////////*/

/* MAIN IMAGE */
.main-img {
  pointer-events: none;
}

/* SECONDARY IMAGES */

.secondary-imgs {
  display: flex;
  flex-wrap: wrap;
}

.secondary-imgs img {
  width: 96%;
  height: 35rem;
  padding: 10px;
}

.row-1 {
  flex-basis: 33.33333%;
}

.row-2 {
  flex-basis: 33.33333%;
}

.row-3 {
  flex-basis: 33.33333%;
}
